# Random Forests para Arboles de Regresion

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv('../python-ml-course/datasets/boston/Boston.csv')
dataset.head()
#https://www.kaggle.com/c/boston-housing

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
dataset.shape

(506, 14)

### Procesamiento de Datos

In [4]:
predictors=dataset.columns.values.tolist()[:13]
target=dataset.columns.values.tolist()[13]
X=dataset[predictors]
Y=dataset[target]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train, x_test, y_train,y_test=train_test_split(X,Y,test_size=.3,random_state=0)

# Random Forests

### >>>Los Forests no necesitan Validacion cruzada

In [7]:
from sklearn.ensemble import RandomForestRegressor

/home/jess/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [8]:
forest=RandomForestRegressor(n_jobs=2,oob_score=True,n_estimators=500)

#oob_score=Si queremos que el modelo generalize las muestras

#n_estimators=numero de arboles del forest

forest.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=2,
           oob_score=True, random_state=None, verbose=0, warm_start=False)

In [9]:
matches=pd.DataFrame(list(zip(forest.oob_prediction_,y_train)),columns=['Predicciones','Real'])
matches[:11]

    Predicciones  Real
0      13.811458  14.4
1      24.580513  24.4
2      17.806667  18.1
3      24.516092  22.5
4      18.393651  20.5
5      15.668367  15.2
6      19.946703  17.4
7      14.431183  13.6
8      10.241711   8.7
9      19.100000  18.2
10     33.533508  35.4

In [10]:
matches['err2']=(matches['Predicciones']-matches['Real'])**2
error=sum(matches['err2'])/len(matches)
print('Error: ',error)

Error:  10.36981414278783

In [11]:
score=forest.oob_score_
print('Score: ',score)

Score:  0.8776632612129097