In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

path='../python-ml-course/datasets/'

dataset=pd.read_csv(path+'customer-churn-model/Customer Churn Model.txt')

In [9]:
dataset.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Metodo 1: Shuffle de Dataset

In [3]:
import sklearn as sk

In [4]:
dataset2=sk.utils.shuffle(dataset)
dataset2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
2982,OH,87,510,350-5993,no,no,0,153.3,106,26.06,...,117,19.08,273.4,152,12.30,8.9,5,2.40,2,False.
1161,MN,40,510,354-2189,yes,no,0,170.7,55,29.02,...,108,15.22,281.9,89,12.69,8.2,9,2.21,3,False.
999,NC,165,415,330-6630,no,no,0,207.7,109,35.31,...,94,14.01,54.5,91,2.45,7.9,3,2.13,0,False.
2706,WV,125,415,381-7597,no,no,0,206.0,128,35.02,...,71,16.84,135.9,116,6.12,13.2,3,3.56,0,False.
937,DC,76,415,337-1506,no,no,0,224.4,121,38.15,...,97,12.57,183.8,74,8.27,6.7,2,1.81,2,False.

In [5]:
data_train=dataset2[:round(.75*len(dataset2))]

data_test=dataset2[round(.75*len(dataset2))+1:]

print('Train: '+str(round(len(data_train)/len(dataset2)*100))+' %')
print('Test: '+str(round(len(data_test)/len(dataset2)*100))+' %')

Train: 75 %
Test: 25 %

# Metodo 2: Usar libreria de Sklearn

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
train,test=train_test_split(dataset,test_size=.2)

print('Train: '+str(round(len(train)/len(dataset)*100))+' %')
print('Test: '+str(round(len(test)/len(dataset)*100))+' %')

Train: 80 %
Test: 20 %